<?xml version="1.0"?>
<configuration>
	<configSections>
		<!--<section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>-->
		<section name="ingredients" type="TightlyCurly.Com.Web.Configuration.IngredientsConfigurationSection, TightlyCurly.Com.Web"/>
	</configSections>
	<appSettings>
		<add key="NotificationEmail" value="info@mixedgirlcurls.com"/>
		<add key="ContactEmail" value="teri@mixedgirlcurls.com"/>
		<add key="BlogSpotUri" value="http://formermushroomhairedchild.blogspot.com/"/>
		<add key="IngredientsNameListServiceMethod" value="GetIngredientsNameList"/>
		<add key="SiteUrl" value="http://www.tightlycurly.com"/>
		<add key="PrivacyEmail" value="privacy@mixedgirlcurls.com"/>
		<add key="CustomerServiceEmail" value="customerservice@mixedgirlcurls.com"/>
		<add key="EnableAnalytics" value="true"/>
		<add key="SmtpServer" value="mail.mixedgirlcurls.com"/>
		<add key="SmtpServerPort" value="25"/>
		<add key="SmtpRequiresSsl" value="false"/>
		<add key="SmtpUserName" value="info@mixedgirlcurls.com"/>
		<add key="SmtpPassword" value="j@#$FDSWFA53425FA_3542"/>
		<add key="QuestionListServiceMethod" value="GetQuestionsList"/>
		<add key="CacheEnabled" value="false"/>
		<add key="DefaultCacheExpiration" value="20"/>
	</appSettings>
	<connectionStrings>
		<add name="TightlyCurly" connectionString="Data Source=(local);Initial Catalog=TIGHTLYCURLY;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
		<!--<add name="TightlyCurly" connectionString="Data Source=tcp:sql2k803.discountasp.net;Initial Catalog=SQL2008_724869_tightlycurly;User ID=SQL2008_724869_tightlycurly_user;Password=B3B07D97_96Za_576_d909C2E72ADD97Ac" providerName="System.Data.SqlClient" />-->
		<!--<add name="TightlyCurly" connectionString="data source=thiswildcrown.com;User Id=tightlycurly_42810;Password=B3B07D97_96Za_576_d909C2E72ADD97Ac;Initial Catalog=TIGHTLYCURLY" providerName="System.Data.SqlClient" />-->
		<add name="ProductService" connectionString="http://www.tightlycurly.com/Services/ProductService.svc"/>
		<!--<add name="ProductService" connectionString="http://localhost:81/Services/ProductService.svc" />-->
		<add name="AutoCompleteService" connectionString="http://www.tightlycurly.com/Services/AutoCompleteService.svc"/>
		<add name="ContentService" connectionString="http://www.tightlycurly.com/Services/ContentService.svc"/>
	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<!--<authentication mode="Windows" />-->
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
    -->
		<customErrors mode="Off">
			<error statusCode="403" redirect="~/Error/Forbidden.aspx"/>
			<error statusCode="404" redirect="~/Error/NotFound.aspx"/>
			<error statusCode="500" redirect="~/Error/ServerError.aspx"/>
		</customErrors>
		<!--<customErrors mode="Off" />-->
		<httpModules />
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
		<!--<security>
            <authentication>
                <windowsAuthentication enabled="false" />
            </authentication>
        </security>-->
		<!--<httpErrors errorMode="Detailed" />-->
		<!--<security>
      <authentication>
        <basicAuthentication enabled="false" />
      </authentication>
    </security>-->
	</system.webServer>
	<ingredients acceptableStyle="acceptable" cautionStyle="caution" avoidStyle="avoid" goodStyle="good" linkUrl="/Ingredients.aspx" autoCompleteEnabled="true">
		<searchCategoryElements>
			<categories>
				<category categoryName="0" arguments="0"/>
				<category categoryName="1" arguments="1"/>
				<category categoryName="2" arguments="2"/>
				<category categoryName="3" arguments="3"/>
				<category categoryName="4" arguments="4"/>
				<category categoryName="5" arguments="5"/>
				<category categoryName="6" arguments="6"/>
				<category categoryName="7" arguments="7"/>
				<category categoryName="8" arguments="8"/>
				<category categoryName="9" arguments="9"/>
				<category categoryName="A" arguments="A"/>
				<category categoryName="B" arguments="B"/>
				<category categoryName="C" arguments="C"/>
				<category categoryName="D" arguments="D"/>
				<category categoryName="E" arguments="E"/>
				<category categoryName="F" arguments="F"/>
				<category categoryName="G" arguments="G"/>
				<category categoryName="H" arguments="H"/>
				<category categoryName="I" arguments="I"/>
				<category categoryName="J" arguments="J"/>
				<category categoryName="K" arguments="K"/>
				<category categoryName="L" arguments="L"/>
				<category categoryName="M" arguments="M"/>
				<category categoryName="N" arguments="N"/>
				<category categoryName="O" arguments="O"/>
				<category categoryName="P" arguments="P"/>
				<category categoryName="Q" arguments="Q"/>
				<category categoryName="R" arguments="R"/>
				<category categoryName="S" arguments="S"/>
				<category categoryName="T" arguments="T"/>
				<category categoryName="U" arguments="U"/>
				<category categoryName="V" arguments="V"/>
				<category categoryName="W" arguments="W"/>
				<category categoryName="X" arguments="X"/>
				<category categoryName="Y" arguments="Y"/>
				<category categoryName="Z" arguments="Z"/>
			</categories>
		</searchCategoryElements>
	</ingredients>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
			</wsHttpBinding>
		</bindings>
		<client>
		</client>
		<behaviors>
   <endpointBehaviors>
    <behavior name="TightlyCurly.Com.Web.Services.AutoCompleteServiceAspNetAjaxBehavior">
     <enableWebScript />
    </behavior>
   </endpointBehaviors>
   <serviceBehaviors>
    <behavior name="">
     <serviceMetadata httpGetEnabled="true" />
     <serviceDebug includeExceptionDetailInFaults="false" />
    </behavior>
   </serviceBehaviors>
  </behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
   multipleSiteBindingsEnabled="true">
   <baseAddressPrefixFilters>
    <add prefix="http://www.tightlycurly.com" />
   </baseAddressPrefixFilters>
  </serviceHostingEnvironment>
		<services>
			<service name="TightlyCurly.Com.Web.Services.AutoCompleteService">
				<endpoint address="" behaviorConfiguration="TightlyCurly.Com.Web.Services.AutoCompleteServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="TightlyCurly.Com.Web.Services.AutoCompleteService"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>
