/* CSS Document */

.menuNormal 
{
	font-family:Arial, Helvetica, sans-serif;
	cursor:hand;
	font-size:20px;
	color:#666666;
	text-decoration:none;
}

a:hover
{
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	cursor:hand;
	font-size:14px;
	color:#333333;
	text-decoration:underline;
	margin-bottom:12px;
}

a
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#6E87AF;
	cursor:hand;
	text-decoration:none;
}

img
{
	border-style:none;
}

.categoryMenu
{
    background-color:white;
    border:1px solid #849CB1;
    cursor:default;
    opacity:0.9;
    position:absolute;
    display: none;
    z-index:10;
}

body
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#666666;
}

.pageTitle
{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	color: #969696;
	width:100%
}

.pageTitleDropLetter
{
	font-family:Arial, Helvetica, Sans-Serif;
	font-size:40px;
	color: #969696;
	text-align:center;
}

.labelText
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#666666;
	text-align:right;
}

.groupingText
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#333333;
}

.bodyTextEmphasis
{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:14px;
	color:#333333;
}

.bodyTextEmphasisItalic
{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:14px;
	color:#333333;
	font-style:italic;
}

.bodyTextItalic
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:italic;
	color:#666666;
}

.bodyTextSmall
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#666666;
}

.bodyHeader
{
	font-family: 'ArialMT', 'Arial', 'sans-serif';
	font-size:20px;
	font-weight:bold;
	color:#453c3c;
}

.bodyHeader a
{
	font-family: 'ArialMT', 'Arial', 'sans-serif';
	font-size:20px;
	font-weight:bold;
	color:#453c3c;
}

.bodyHeaderItalic
{
	font-family: 'ArialMT', 'Arial', 'sans-serif';
	font-size:20px;
	font-weight:bold;
	font-style:italic;
	color:#453c3c;
}

.bodyEmphasis
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#333333;
}

.bodyEmphasisItalic
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-style:italic;
	font-weight:bold;
	color:#333333;
}

.textBoxSmall
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	border-color:#6E87AF;
	border-style:solid;
	border-width:1px;
}

.textBox
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	border-color:#6E87AF;
	border-style:solid;
	border-width:1px;
}

.errorMessageSmall
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FF0000;
}

.errorMessage
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FF0000;
}

.buttonSmall
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	background-color:#999999;
	color:#FFFFFF;
	border-color:#666666;
	border-width:1px;
}

.button
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	background-color:#999999;
	color:#FFFFFF;
	border-color:#666666;
	border-width:1px;
}

.modalBackground 
{
	background-color:Gray;
    filter:alpha(opacity=60);
    opacity:0.60;         
}

.messageBox
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	border-width:5px;
	border-color:#666666;
	background-color:#FFFFFF;
	color:#6E87AF;
	padding:15px;
}

.messageBoxTitle
{
	font-family:Arial, Helvetica, Sans-Serif;
	font-size:16px;
	font-weight:bold;
	color:#6E87AF;
}

.content
{
	width:1000px;
}

.picker
{
    margin-top:0px;
	width:100%;
	margin-left:30px;
}

.store
{
	width:800px;
	text-align:left;
}

.referenceAnchor
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#666666;
	text-decoration:none;
}

.completionList
{
	width:auto;
	border-color:#666666;
	border-width:1px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#666666;
}

.completionListItem
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#666666;
}

.menuItemsList
{
    list-style:none;
    margin:top:2px;
    margin-left:4px;
    margin-right:4px;
    margin-bottom:2px;
}

/* Ingredients Style classes */
.avoid
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:italic;
	color:#CC33FF;
}

.caution
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:italic;
	color:#6633FF;
}

.acceptable
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:italic;
	color:#008DC6;
}

.good
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-style:italic;
	color:#00FF00;
}

.warning
{
    font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:Orange;
	border-style:solid;
	border-color:Orange;
	border-width:1px;
	text-align:center;
	padding:10px;
	background-color:#FFFFCC;
}

.error
{
    font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:red;
	border-style:solid;
	border-color:red;
    border-width:1px;
	text-align:center;
	padding:10px;
	background-color:#FFFFDD;
}

.info
{
    font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:blue;
	text-align:center;
	padding:10px;
}

.question
{
    font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#666666;

}

.answer
{
    font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#666666;
}

.questionText
{
    font-style:italic;
    margin-bottom:10px;
}

.answerText
{
    margin-bottom:10px;
}

.questionContainer
{
    padding:10px;
    width:90%;
}

.indent
{
    padding-left:50px;
}